/* Section */
.ho-section {
  padding: 50px 20px;
  background:
        linear-gradient(
            90deg,
            var(--s9-forest) 0%,
            var(--s9-ink) 45%,
            var(--s9-umber) 100%
        );
}


/* Container */
.ho-container {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

/* Title */
.ho-title {
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 15px;
  color: var(--s9-gold);
}
.ho-subtitle {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 20px;
  color: var(--s9-gold);
}


/* Button */
.ho-btn {
  display: inline-block;
  background: var(--s9-green);
  color: var(--s9-gold);
  padding: 12px 25px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 15px;
  transition: 0.3s;
}

/* Hover */
.ho-btn:hover {
  background: #25A18E;
}