/* Section */
.sd-deals-section {
  padding: 20px;
}

/* Box */
.sd-deals-box {
  background: #f5f5f5;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  max-width: 100%;
  margin: auto;
}

/* Heading */
.sd-deals-box h3 {
  font-weight: 700;
  margin-bottom: 20px;
}

/* Input group */
.sd-input-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.sp-title {
    font-size: 24px;   /* font bada */
    font-weight: 300;
    margin-bottom: 8px;
    text-align: center;   /* center */
    margin-top: 50px;
}

/* Subtitle */
.sp-subtitle {
  color: #777;
  margin-bottom: 30px;
  font-size: 18px;   /* thoda bada */
  text-align: center;   /* center */
}

/* Input */
.sd-input-group input {
  padding: 12px;
  width: 550px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
}

/* Button */
.sd-input-group button {
  background: var(--s9-green);
  color: var(--s9-gold);
  border: none;
  padding: 12px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

/* Hover */
.sd-input-group button:hover {
  background: var(--s9-green);
}