/* CONTAINER */
.login-login-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

/* FORM */
.login-form {
  width: 330px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  margin-top: 80px;
}

/* LOGO */
.login-logo-name {
  display: block;        /* 👈 important */
  width: 100%;
  text-align: center;    /* 👈 center text */
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  color: var(--s9-green-dark);
}

/* hover remove */
.login-logo-name:hover {
  text-decoration: none;
}
.login-link {
  color: var(--s9-green-dark);
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}

.login-link:hover {
  text-decoration: underline;
}

/* SUBTITLE */
.login-subtitle {
  text-align: center;
  font-size: 14px;
  color: #444;
  margin-bottom: 20px;
  margin-top: 25px;
}

/* GOOGLE BUTTON */
.login-google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--s9-green-dark);
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
}

.login-google-btn img {
  width: 25px;
  margin-right: 10px;
}

/* INPUTS */
.login-inputs input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.login-inputs input:focus {
  outline: none;
  box-shadow: 0 0 5px var(--s9-green-dark);
}

/* SUBMIT BUTTON */
.login-submit-btn {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  background: var(--s9-green-dark);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* EXTRA LINKS */
.login-extra-links {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.login-extra-links span {
  color: var(--s9-green-dark);
  cursor: pointer;
}

/* SIGNUP TEXT */
.login-signin-text {
  text-align: center;
  margin-top: 15px;
}

.login-signin-text span {
  color: red;
  cursor: pointer;
}