/* Section */
.pc-section {
  padding: 50px 20px;
}

/* Container */
.pc-container {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

/* Title */
.pc-title {
  font-size: 26px;   /* font bada */
  font-weight: 300;
  margin-bottom: 8px;
  text-align: center;   /* center */
  margin-top: 50px;
}

.pc-subtitle {
  color: #777;
  margin-bottom: 30px;
  font-size: 20px;   /* thoda bada */
  text-align: center;   /* center */
}

/* Grid (4 per row) */
.pc-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

/* Card */
.pc-card {
  text-decoration: none;
  color: #000;
  transition: 0.3s;
}

/* Image */
.pc-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

/* Title */
.pc-card h4 {
  margin-top: 10px;
  font-size: 16px;
}

/* Hover */
.pc-card:hover img {
  transform: scale(1.05);
}

.pc-card:hover h4 {
  color: #007bff;
}

/* Responsive */
@media (max-width: 992px) {
  .pc-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .pc-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}